.tab {
    width: 97%;
    /* background-color: blue; */
    padding: 20px;
    padding-bottom: 1200px;
}

.tab1 {
    width: 48%;
    float: left;
}
.tab2 {
    width: 48%;
    float: right;
}

body {
    background-color: #CCCCCC;
    margin: 0;
}

.tabHead {
    background-color: #001c3b;
    border: 5px solid #001c3b;
    z-index: 1;
    top: 0px;
    padding: 0;
    margin: 0;
    height: 80px;
    color: white;
}

.tabP {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;
}

.tabFoot {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100;
    bottom: 0px;
    border: 1px #888888 solid;
    text-align: center;
    background-color: #888888;
}

.tabH1 {
    padding: 0px;
    width: 45%;
    /* border: solid 1px yellow; */
    margin: 0;
    float: left;
    height: 40px;
}

.tabLink:link {
    color: white;
    text-decoration: none;
}

.tabLink:visited {
    color: white;
    text-decoration: none;
}

.tabRef {
    float: right;
    font-size: 16pt;
    /* border: solid 1px red; */
    margin: 10px;
}